.Main {
  display: flex;
  justify-content: space-between;
  height: 900px;
}

.Nav {
  background-color: #482C7D;
  color: white;
  width: 500px;
}

.Content {
  width: 100%;
  height: 100%;
  background-color: #6D42BD;
}
